.App {
  text-align: center;
}
.container {
  display: flex;
  text-align: center;
}
.item {
  flex: 1; 
  position: relative;
  overflow: hidden;
}
img {
  width: 100%;
  display: block;
}
.overlay {
  transition: bottom ease 1s;
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #000000;
  color: #E1E1E1;
  font-size: 0.65em;
  padding-top: 26px;
  bottom: -100px;
  opacity: 0.6;
  overflow: hidden;
  visibility: hidden;
}
.item:hover .overlay {
  bottom: 0;
  opacity: .8;
  
  visibility: visible;
}
body {
  background-color: #000000;
}
@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}

