
#menuContainer {
    height: 0px;
}
#menuContainer .is-visible {
    height: 100%;
    width: 300px;
    margin: 0px;
    float: left; 
    background-color: #3D424D;
    z-index: 100;
  }

 .not-visible {
    display: none;
  }

  .side-drawer {
    height: 100%;
    background-color: #3D424D;
    box-shadow: 2px 0 5px rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 200px;
    color: #f3f3f3;
    z-index: 200;
    display: flex;
}
#menu {
    background-color: #3D424D;
    border-radius: 5px;
    border-width: 0;
    display: inherit;
    position: absolute;
    left: 5px;
    top: 0px;
    z-index: 100;
}

#image {
     color: #f3f3f3;
     font-size: 35px;  
     z-index: 100;
}

#content {
  left: -100%;
}